/* Home page */

.home_container {
  display: grid;
  height: 88vh;

  &.right {
    grid-template-columns: 2fr 3fr;
  }

  &.left {
    grid-template-columns: 2fr 3fr;
    direction: rtl;
  }
}

/* Editors section */
.editors {
  display: grid;
  border: 0.5rem solid $lightGray;
  background-color: $lightGray;
  gap: 1rem;
  padding: 0.5rem 0;

  &.bottom {
    grid-template-columns: repeat(3, 1fr);
  }

  &.left .editor h2 {
    text-align: left;
  }
}

/* Individual editor */

.editor {
  @include flexContainer(column, initial, center);
  height: 100%;

  header {
    width: 100%;
    background-color: $black;
    padding: 0.3125rem 1rem;
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
    @include flexContainer(row, space-between, center);
  }

  h2 {
    font-family: $font;
    color: $white;
    text-transform: uppercase;
  }

  button {
    @include flexContainer(row, center, center);
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.main_editor {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid $white;
  height: 100%;
}

// .collapsed {
//   display: none;
// }

/* Output section */
.output_frame {
  height: 100%;
}

.home_container_2 {
  height: 88vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.editor2 {
  padding: 1rem;
}
.input_output {
  padding: 1rem;
  margin-left: 3rem;
  @include flexContainer(column, center, flex-start);
  gap: 1rem;

  .input,
  .output {
    width: 100%;
  }

  h1 {
    font-size: 1.3rem;
    font-family: $font;
  }

  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    resize: none;
    margin-top: 3px;
    font-size: 1.1rem;

    &:focus {
      outline: none;
    }
  }
}
